# # vim:filetype=msmtp
# Set defaults for all following accounts.
defaults
auth on
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.cache/msmtp/msmtp.log

{{ range $id := .id -}}
{{ template "smtpaccount" $id }}
{{ end -}}
# Set a default account
account default : {{ (first .identities | get .id).email }}
