[init]
	defaultBranch = main
[core]
	editor = nvim
	hooksPath = ~/.config/git/hooks
    pager = delta
[tar "tar.xz"]
	command = xz -c
[pull]
	ff = only
	rebase = true
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# Force Signing
[commit]
	gpgsign = true
	template = ~/.config/git/template/commit-message
[tag]
	gpgsign = true

# Include Identities
{{- range $config := .git_config }}
[includeIf "gitdir:{{ .path }}"]
	path = ~/.config/git/identities/{{ .identity }}
{{- end }}
