{{ $personal_name := promptString "Personal Name" -}}
{{ $personal_email := promptString "Personal Email" -}}
{{ $personal_imapuser := promptString "Personal IMAP user" $personal_email -}}
{{ $personal_imapserver := promptString "Personal IMAP server" "imap.gmail.com" -}}
{{ $personal_smtpuser := promptString "Personal SMTP user" (trimSuffix "@gmail.com" $personal_email) -}}
{{ $personal_smtpserver := promptString "Personal SMTP server" "smtp.gmail.com" -}}

{{ $public_name := promptString "Public Name" -}}
{{ $public_email := promptString "Public Email" -}}
{{ $public_imapuser := promptString "Public IMAP user" $public_email -}}
{{ $public_imapserver := promptString "Public IMAP server" "imap.gmail.com" -}}
{{ $public_smtpuser := promptString "Public SMTP user" (trimSuffix "@gmail.com" $public_email) -}}
{{ $public_smtpserver := promptString "Public SMTP server" "smtp.gmail.com" -}}

{{ $university_name := promptString "University Name" $personal_name -}}
{{ $university_email := promptString "University Email" -}}
{{ $university_imapuser := promptString "University IMAP user" $university_email -}}
{{ $university_imapserver := promptString "University IMAP server" "imap.gmail.com" -}}
{{ $university_smtpuser := promptString "University SMTP user" (trimSuffix "@gmail.com" $university_email) -}}
{{ $university_smtpserver := promptString "University SMTP server" "smtp.gmail.com" -}}

[data]

[data.id]

[data.id.personal]
name = {{ $personal_name | quote }}
email = {{ $personal_email | quote }}
imapport = "993"
imapuser = {{ $personal_imapuser | quote }}
imapserver = {{ $personal_imapserver | quote }}
smtpport = "587"
smtpuser = {{ $personal_smtpuser | quote }}
smtpserver = {{ $personal_smtpserver | quote }}

[data.id.public]
name = {{ $public_name | quote }}
email = {{ $public_email | quote }}
imapport = "993"
imapuser = {{ $public_imapuser | quote }}
imapserver = {{ $public_imapserver | quote }}
smtpport = "587"
smtpuser = {{ $public_smtpuser | quote }}
smtpserver = {{ $public_smtpserver | quote }}

[data.id.university]
name = {{ $university_name | quote }}
email = {{ $university_email | quote }}
imapport = "993"
imapuser = {{ $university_imapuser | quote }}
imapserver = {{ $university_imapserver | quote }}
smtpport = "587"
smtpuser = {{ $university_smtpuser | quote }}
smtpserver = {{ $university_smtpserver | quote }}

[data.dev]
updatepkglists = false
