{{- $ids := list -}}
{{- if not (hasKey . "identities") -}}
    {{- $num_ids := promptInt "How many identities do you want to add?" 1 -}}
    {{- range $ix := until $num_ids -}}
        {{- $ids = promptString "Identity Name" "personal" | trim | lower | append $ids -}}
    {{- else -}}
        {{- fail "No identities setup" -}}
    {{- end -}}
{{- else -}}
    {{- $ids = .identities -}}
{{- end -}}

{{- define "setOrPromptString" -}}
    {{- if hasKey .dict .key -}}
        {{- get .dict .key | quote -}}
    {{- else -}}
        {{- $prompt := list .name .key | join " " | title -}}
        {{- $value := "" -}}
        {{- if hasKey . "default" -}}
            {{- $value = promptString $prompt .default -}}
        {{- else -}}
            {{- $value = promptString $prompt -}}
        {{- end -}}
        {{- $_ := set .dict .key $value -}}
        {{- $value | quote -}}
    {{- end -}}
{{- end -}}

{{- define "setOrPromptInt" -}}
    {{- if hasKey .dict .key -}}
        {{- get .dict .key -}}
    {{- else -}}
        {{- $prompt := list .name .key | join " " | title -}}
        {{- $value := "" -}}
        {{- if hasKey . "default" -}}
            {{- $value = promptInt $prompt .default -}}
        {{- else -}}
            {{- $value = promptInt $prompt -}}
        {{- end -}}
        {{- $_ := set .dict .key $value -}}
        {{- $value -}}
    {{- end -}}
{{- end -}}

{{- define "setOrPromptBool" -}}
    {{- if hasKey .dict .key -}}
        {{- get .dict .key -}}
    {{- else -}}
        {{- $prompt := list .name .key | join " " | title -}}
        {{- $value := "" -}}
        {{- if hasKey . "default" -}}
            {{- $value = promptBool $prompt .default -}}
        {{- else -}}
            {{- $value = promptBool $prompt -}}
        {{- end -}}
        {{- $_ := set .dict .key $value -}}
        {{- $value -}}
    {{- end -}}
{{- end -}}

[data]
# First identity is the default
identities = {{ $ids | toJson }}
{{ $data := . -}}
{{- range $id := $ids }}
[data.id.{{- $id -}}]
    {{- $dict := dig "id" $id (dict) $data }}
name       = {{ template "setOrPromptString" dict "name" $id "dict" $dict "key" "name"                                                             }}
email      = {{ template "setOrPromptString" dict "name" $id "dict" $dict "key" "email"                                                            }}
imapport   = {{ template "setOrPromptInt"    dict "name" $id "dict" $dict "key" "imapport" "default" 993                                           }}
imapuser   = {{ template "setOrPromptString" dict "name" $id "dict" $dict "key" "imapuser" "default" (get $dict "email")                           }}
imapserver = {{ template "setOrPromptString" dict "name" $id "dict" $dict "key" "imapserver" "default" "imap.gmail.com"                            }}
smtpport   = {{ template "setOrPromptInt"    dict "name" $id "dict" $dict "key" "smtpport" "default" 993                                           }}
smtpuser   = {{ template "setOrPromptString" dict "name" $id "dict" $dict "key" "smtpuser" "default" (get $dict "email" | trimSuffix "@gmail.com") }}
smtpserver = {{ template "setOrPromptString" dict "name" $id "dict" $dict "key" "smtpserver" "default" "smtp.gmail.com"                            }}
{{ else -}}
    {{- fail "No Identities provided" -}}
{{ end }}
[data.dev]
updatepkglists = {{ template "setOrPromptBool" dict "name" "(Dev only) Update Package Lists" "dict" .dev "key" "updatepkglists" "default" false }}
