[Desktop Entry]
Version=1.0
Name=Picom
Comment=A standalone compositor for Xorg
Exec=picom -b
OnlyShowIn=Awesome;Hyprland;
StartupNotify=false
Type=Application
