#!/bin/sh

set -x
# Installed Packages Hash {{ include "dot_config/packages/installed_pkgs.txt" | sha256sum }}
{{- if not .dev.no_pkg_sync }}
sudo pacman -S --needed - < "{{ joinPath .chezmoi.sourceDir "dot_config/packages/installed_pkgs.txt" }}"
{{- end }}
