[Drive]
type = drive
client_id = {{ (pass "dotfiles/rclone/client_id") }}
client_secret = {{ (pass "dotfiles/rclone/client_secret") }}
scope = drive.file
root_folder_id = {{ (pass "dotfiles/rclone/root_folder_id") }}
token = {"access_token":"{{ (pass "dotfiles/rclone/access_token") }}","token_type":"Bearer","refresh_token":"{{ (pass "dotfiles/rclone/refresh_token) }}","expiry":"2021-10-04T11:27:24.347471323+02:00"}
team_drive = 

