[data]

[data.id]

[data.id.personal]
{{- $name = promptString "personal name" -}}
name = {{ $name | quote }}
{{- $email = promptString "personal email" -}}
email = {{ $email | quote }}
{{- $emailname = promptString "personal emailname" -}}
emailname = {{ $emailname | quote }}

[data.id.public]
{{- $name = promptString "public name" -}}
name = {{ $name | quote }}
{{- $email = promptString "public email" -}}
email = {{ $email | quote }}
{{- $emailname = promptString "public emailname" -}}
emailname = {{ $emailname | quote }}

[data.id.university]
{{- $name = promptString "university name" -}}
name = {{ $name | quote }}
{{- $email = promptString "university email" -}}
email = {{ $email | quote }}
{{- $emailname = promptString "university emailname" -}}
emailname = {{ $emailname | quote }}

[data.dev]
updatePackages = false
