# Use faster chiphers by default
Ciphers aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

{{- $data := . -}}
{{- range $name := .identities -}}
    {{- $key := join "ssh_" $name "_hosts" }}
    {{- if hasKey $data $key -}}
        {{- range $host := get $data $key }}
# Setup {{ $name | title }} Hosts
Host {{ .host }}
    HostName {{ .host }}
    User {{ .user }}
    IdentityFile ~/.ssh/id_ed25519_{{ $name }}
    IdentitiesOnly yes
        {{- end -}}
    {{ end }}
{{ end }}
{{ range $host := .ssh_public_hosts -}}

{{ end -}}
# Override hosts
{{- $data := . -}}
{{- range $name := .identities -}}
    {{- $id := dig "id" $name (dict) $data }}
    {{- if hasKey $id "ssh_override" -}}
        {{- range $host := get $id "ssh_override" }}
Host {{ $name | title }}{{ .name }}
    HostName {{ .host }}
    User {{ .user }}
    IdentityFile ~/.ssh/id_ed25519_{{ $name }}
    IdentitiesOnly yes
        {{- end -}}
    {{ end }}
{{ end }}
