# Use faster chiphers by default
Ciphers aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
{{ $data := . -}}
{{- range $name := .identities -}}
    {{- $hosts := dig "id" $name "ssh_hosts" (list) $data -}}
    {{- /* If hosts are defined for this identity */ -}}
    {{- if $hosts }}
# Setup {{ $name | title }} Hosts
        {{- range $host := $hosts }}
Host {{ .host }}
            {{- if hasKey . "user" }}
    User {{ .user }}
            {{- end }}
    IdentityFile ~/.ssh/id_ed25519_{{ $name }}
    IdentitiesOnly yes
        {{- end -}}
    {{ end }}
{{ end }}

# Override hosts
{{- $data := . -}}
{{- range $name := .identities -}}
    {{- $hosts := dig "id" $name "ssh_override" (list) $data -}}
    {{- range $host := $hosts }}
Host {{ .name }}
        {{- if hasKey . "host" }}
    HostName {{ .host }}
        {{- end }}
        {{- if hasKey . "port" }}
    Port {{ .port }}
        {{- end }}
        {{- if hasKey . "user" }}
    User {{ .user }}
        {{- end }}
        {{- if hasKey . "proxy_jump" }}
    ProxyJump {{ .proxy_jump }}
        {{- end }}
    IdentityFile ~/.ssh/id_ed25519_{{ $name }}
    IdentitiesOnly yes
    {{- end -}}
{{- end }}
