# Path Settings
typeset -U PATH path FPATH fpath
path+="$HOME"/.local/bin
fpath+="$ZDOTDIR"/zfunc
export PATH FPATH

# Websites
export ALARMPI='{{ (keepassxc "RaspberryPi").URL }}'

# Default programs
export VISUAL='/usr/bin/nvim'
export EDITOR="$VISUAL"
export TERMINAL='xterm-kitty'
export BROWSER='qutebrowser'
export MANPAGER='less -R --use-color -Dd+r -Du+b'

# XDG_BASE_DIRS
export XDG_CONFIG_HOME="$HOME"/.config
export XDG_CACHE_HOME="$HOME"/.cache
export XDG_DATA_HOME="$HOME"/.local/share
export XDG_STATE_HOME="$HOME"/.local/state

# Make apps follow XDG Base Dirs Spec
export ZDOTDIR="$HOME"/.config/zsh
export HISTFILE="$XDG_STATE_HOME"/bash/history

export CARGO_HOME="$XDG_DATA_HOME"/cargo
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export STACK_ROOT="$XDG_DATA_HOME"/stack
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java

export WAKATIME_HOME="$HOME"/.config/wakatime
export CALCHISTFILE="$XDG_CACHE_HOME"/calc_history

export WINEPREFIX="$XDG_DATA_HOME"/wineprefixes/default
export SSB_HOME="$XDG_DATA_HOME"/zoom
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/pass
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
