IMAPAccount {{ .id.university.email }}
Host {{ .id.university.mailserver }}
User {{ .id.university.username }}
PassCmd "pass show Mail/{{ .id.university.email }} | sed -n 's/apppass: //p'"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore {{ .id.university.email }}-remote
Account {{ .id.university.email }}

MaildirStore {{ .id.university.email }}-local
SubFolders Verbatim
Path ~/.local/share/mail/{{ .id.university.email }}/
Inbox ~/.local/share/mail/{{ .id.university.email }}/Inbox

Channel {{ .id.university.email }}
Far :{{ .id.university.email }}-remote:
Near :{{ .id.university.email }}-local:
Patterns * ![Gmail]* "[Gmail]/Sent Mail" "[Gmail]/Starred" "[Gmail]/All Mail"
Create Both
Expunge Both
SyncState *

IMAPAccount {{ .id.personal.email }}
Host imap.gmail.com
User {{ .id.personal.email }}
PassCmd "pass show Mail/{{ .id.personal.email }} | sed -n 's/apppass: //p'"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore {{ .id.personal.email }}-remote
Account {{ .id.personal.email }}

MaildirStore {{ .id.personal.email }}-local
SubFolders Verbatim
Path ~/.local/share/mail/{{ .id.personal.email }}/
Inbox ~/.local/share/mail/{{ .id.personal.email }}/Inbox

Channel {{ .id.personal.email }}
Far :{{ .id.personal.email }}-remote:
Near :{{ .id.personal.email }}-local:
Patterns * ![Gmail]* "[Gmail]/Sent Mail" "[Gmail]/Starred" "[Gmail]/All Mail"
Create Both
Expunge Both
SyncState *

IMAPAccount {{ .id.public.email }}
Host imap.gmail.com
User {{ .id.public.email }}
PassCmd "pass show Mail/{{ .id.public.email }} | sed -n 's/apppass: //p'"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore {{ .id.public.email }}-remote
Account {{ .id.public.email }}

MaildirStore {{ .id.public.email }}-local
SubFolders Verbatim
Path ~/.local/share/mail/{{ .id.public.email }}/
Inbox ~/.local/share/mail/{{ .id.public.email }}/Inbox

Channel {{ .id.public.email }}
Far :{{ .id.public.email }}-remote:
Near :{{ .id.public.email }}-local:
Patterns * ![Gmail]* "[Gmail]/Sent Mail" "[Gmail]/Starred" "[Gmail]/All Mail"
Create Both
Expunge Both
SyncState *
