[Desktop Entry]
Type=Application
Name=XWallpaper
Comment=Wallpaper setting utility for X
Icon=xwallpaper
Exec=xwallpaper --zoom /usr/share/backgrounds/archlinux/awesome.png
Terminal=false
Categories=Wallpaper;
Keywords=wallpaper;xorg;
